/* Write your CSS code here */
.app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh;
}
.login-image {
  width: 67%;
}
.login-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-bottom: 30px;
}
.website-logoz {
  width: 100%;
  align-items: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.label-name {
  margin-top: 20px;
  font-size: 15px;
  color: #475569;
  font-family: 'roboto';
  font-weight: bold;
}
.input-item {
  padding: 5px;
  background-color: #d7dfe9;
  font-family: 'roboto';
  color: #475569;
  border-width: 0px;
}
.login-button {
  background-color: #0b69ff;
  font-family: 'robot';
  margin-top: 10px;
  border-radius: 5px;
  font-weight: 700;
  color: #ffffff;
  border-width: 0px;
  padding: 8px;
}
.error {
  color: #ff0b37;
  font-family: 'roboto';
  font-size: 10px;
}
